body {
  margin: 0;
  padding: 0;
  background-color: #021b21;
}

.container {
  display: flex;
  flex-direction: column; 
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.button-container button {
  display: block;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0b505f;
  color: white;
  font-size: 1.3em; 
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container button:hover {
  background-color: #054452;

}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  padding: 20px;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 60vh; 
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #021b21;
  background-color: #052127;
  color: white;
  font-size: 1.3em; 
  resize: none;
}

button#clear-button {
  display: block;
  float: right;
  width: 33%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f23d4c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button#clear-button:hover {
  background-color: #c94a55;}

button#copy-button {
  display: block;
  float: right;
  width: 33%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #06b66c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button#copy-button:hover {
  background-color: #037e4b;
}

button#denied {
  font-size: 1em; 
  display: block;
  float: right;
  width: 15%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d36b09;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button#denied:hover {
  background-color: #e97a13;
}

button#aidenied {
  font-size: 1em; 
  display: block;
  float: right;
  width: 15%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d36b09;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button#aidenied:hover {
  background-color: #e97a13;
}


hr {
  border: none;
  border-top: 1px solid #fff;
  width: 90%;
  margin: 10px auto;
  padding-bottom: 10px;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #021b21; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeaf30; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eeaf30; 
}

/* Media Queries for Mobile */
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }

  .button-container {
    width: 30%;
  }

  .text-container {
    width: 70%;
  }

  textarea {
    height: 80vh;
  }
}


footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #021b21;
  color: white;
  font-size: 14px;
  cursor: pointer;

}
