body {
  margin: 0;
  padding: 0;
  background-color: #021b21;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container button {
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0b3841;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container button:hover {
  background-color: #054452;
}

.special-btn {
  background-color: #1f5966 !important;
}

.special-btn:hover{
  background-color: #11424d7c !important;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 60vh;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #021b21;
  background-color: #052127;
  color: white;
  font-size: 1.3em;
  resize: none;
}

button#clear-button,
button#copy-button,
button#denied,
button#aidenied {
  width: 22%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.9em;
}

button#clear-button {
  background-color: #f23d4c;
}

button#clear-button:hover {
  background-color: #c94a55;
}

button#copy-button {
  background-color: #06b66c;
}

button#copy-button:hover {
  background-color: #037e4b;
}

button#denied,
button#aidenied {
  background-color: #d36b09;
}

button#denied:hover,
button#aidenied:hover {
  background-color: #e97a13;
}

hr {
  border: none;
  border-top: 1px solid #fff;
  width: 90%;
  margin: 10px auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #021b21;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #eeaf30;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eeaf30;
}

/* Larger screens */
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }

  .button-container {
    width: 25%;
  }

  .text-container {
    width: 70%;
  }

  textarea {
    height: 80vh;
  }

  .top-buttons button {
    width: 20%;
    font-size: 1em;
  }
}

/* Mobile screens */
@media only screen and (max-width: 599px) {
  .container {
    align-items: center;
  }

  .button-container {
    align-items: center; 
  }

  .top-buttons {
    gap: 10px;
  }

  .top-buttons button {
    width: 100%;
  }

  button#clear-button,
  button#copy-button,
  button#denied,
  button#aidenied {
    font-size: 1em;
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #021b21;
  color: white;
  font-size: 14px;
  cursor: pointer;
}